*{
    margin: 0;
    padding:0;
    object-fit: cover;
    overflow-x: hidden;
}



/*--------------------------------------- Header top start--------------------------------------------------*/

.header_top{
    width: 1360px;
    height: 46px;
    background-color: rgba(245,245,245,1);
    color:#42474c;
    display: flex;
    justify-content: space-around;



}
.header_top_text_component{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    font-family:  Calibri;
}

.header_top_location_component{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    font-family: calibri;
}

.header_top_mail_component{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 120px;
    margin-right: 20px;
    padding: 5px 10px;
    font-family: calibri;
    cursor: pointer;
}
.fas fa-times-circle{
    color: blue;
}
.far fa-times{
    color: white;
}

.fa {
  color: #007cba;
    margin-right: 5px;
}

.header_top_request_component{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 140px;
    font-family: calibri;
}

/*--------------------------------------------- Header top finish-----------------------------------------*/


/* ----------------------------------------------Header start---------------------------------------------*/

.header{
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-between;

    

}

.header_logo{
    margin-left: 60px;
    margin-top: 19px;
}

.header_call_mobile{
    margin-right: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    font-family: calibri;
}

.number{
    color: #4eaac8;
    font-size: 30px;
    font-family: calibri;
}

.call{
    color: #007cba;
    font-size: 30px;
    font-family: calibri;
}

.header_button{
    width: 244px;
    height: 57px;
    background-color: #4eaac8;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-top: 20px;
    margin-right: 120px;
    font-family: Calibri;
    cursor: pointer;

}

/*----------------------------------------- Header finish-----------------------------------------------*/


/* -------------------------------------------Navbar start------------------------------------*/
nav{
    height: 45px;
    border-top: 1px solid rgb(236,239,241,1);
}
.navbar{
    width: 1366px;
    float: left;
    padding-left: 60px;
    display: flex;
    height: 40;
}
.navbar_left_side{
    font-size:16px;
    font-family: calibri;
    color: #42474c;
}

navbar_component{
    list-style: none;
    padding-right: 5px;
    font-size: 16px;
    font-family: lato;
    color: #42474c;
}
ul{
    display: flex;
    justify-content: space-around;

}

/*--------------------------------------------- Navbar finish-----------------------------------------*/


/* ------------------------------------------------Slider start--------------------------------------*/
.slider{
    width: 1366px;
    color: white;
    overflow-x: hidden;
    height: 600px;
    
}
.slider_text_line1{
    color:#feffff;
    font-size: 14px;
    font-family: lato;
    position: relative;
    bottom:470px;
    left: 60px;
}

.slider_text_line2{
    color:#feffff;
    font-size: 68px;
    font-family: lato;
    position: relative;
    bottom: 464px;
    left: 53px;

}

.slider_text_line3{
    color:#feffff;
    font-size: 68px;
    font-family: lato;
    position: relative;
    bottom: 460px;
    left:53px ;

}






.slider_button_blue{
    width: 154px;
    height:57px ;
    background-color: #4eaac8;
    border: 1px solid #4eaac8;
    border-radius: 7px;
    color: white;
    font-size: 12px;
    font-family: lato;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 435px;
    left: 60px;
    cursor: pointer;

}

.slider_button_white{
    width: 154px;
    height: 57px;
    background-color: #ffffff;
    border: 1px solid#feffff;
    border-radius: 7px;
    color: #42474c;
    font-size: 12px;
    font-family: lato;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 494px;
    left: 240px;
}


/*------------------------------------------ Slider finish-------------------------------------------*/


/*-------------------------------------------Section 1 start-----------------------------------------*/

.section1{
    height: 500px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.section_1_image{
    width: 570px;
    margin-left: 17px;
}
.section_1_text_content{
    width: 600px;
}


.section_1_text_content_line1{
    font-size: 15px;
    color: #5c656d;
    margin-bottom: 10px;
}

.section_1_text_content_line2{
    font-size: 36px;
    color: #42474c;
    margin-bottom: 40px;
}
.section_1_text_content_line3{
    font-size: 18px;
    color: #5c656d;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}


.section_1_button{
    width: 154px;
    height: 57px;
    background-color: #4eaac8;
    border: 1px solid #4eaac8;
    color: white;
    border-radius: 7px;
    font-size: 12px;
    font-family: lato;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;

}


/* --------------------------------------Section 1 finish--------------------------------------------*/



/*------------------------------------------------Blog start------------------------------------------*/

.blog_title_text_line1{
    font-size: 14px;
    font-family: lato;
    color: #5c656d;
    margin-bottom: 20px;
    text-align: center;
}

.blog_posts{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.blog{
    height: 600px;
}



.blog_title_text_line2{
    font-size: 36px;
    color: #42474c;
    font-family: lato;
    text-align: center;
}
.colorful{
    color:#42474c;
    font-weight: bold;
}

.blog_posts_component_title{
    font-size: 24px;
    color: #42474c;
    margin-top: 10px;
}

.blog_posts_component_text{
    text-align: center;

}


.blog_posts_component_main-text{
    font-size: 17px;
    font-family: lato;
    color: #5c656d;
    width: 340px;
    margin-top: 10px;
}

.blog_posts_component_learn-more{
    font-size: 12px;
    font-family: lato;
    color: #4eaac8;
    margin-top: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}



.blog_posts_component{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 60px;
}

.learn{
    margin-right: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*--------------------------------------------Blog finish------------------------------------------------*/


/*-------------------------------------Form  start-------------------------------------------------------*/

.form{

    height: 530px;
    text-align: center;
}

.form_box{
    width: 700px;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.16), 3px 3px 6px rgba(0,0,0,0.23);
    padding-top: 40px;
    margin: 0 auto;
    height: 380px;

}

.form_title{
    font-size: 30px;
    font-family: lato;
    margin-bottom: 30px;
    color: #42474c;

}


.form_box_line1{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    
    
}

.form_box_line2{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    
}

.form_box_line3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0 auto;
    
}

.form_box_line4{
    display: flex;
    justify-content: space-between;
}
input{
    width: 41%;
    text-align: left;
    border-radius: 7px;
    border: 1px solid lightgrey ;
    height: 32px;
    padding: 7px;
}

textarea{
    height: 140px;
    margin-top: 10px;
    width: 600px;
    margin-left: 35px;
    margin-right: 33px;
    border-radius: 7px;
    border: 1px solid lightgrey;
    text-decoration: #4eaac8;
    padding: 7px;
}
.form_box_send_button{
    width: 154px;
    height: 40px;
    color: white;
    border-radius: 7px;
    font-size: 14px;
    font-family: lato;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
    cursor: pointer;
    margin-right: 40px;
    
}


/*-----------------------------------------Footer start-----------------------------------------------*/



.footer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #041e27;
    text-align: left;
    text-emphasis-color: white;
}

.footer_component_about{
    width: 200px;
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
    cursor: pointer;
}

.footer_component_blog{
    width: 200px;
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
    cursor: pointer;
}

.footer_component_contact{
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
    margin-bottom: 40px;
    cursor: pointer;

}

.footer_logo_about_information{
    width: 190px;
    color:#ffffff;
    font-size:18px ;
    font-family: lato;
    margin-top: 15px;
    margin-bottom: 40px;
}

.static_chapter{
    margin-top: 15px;
    font-size: 18px;
}
/*------------------------------------Footer finish---------------------------------------------------------*/

